@media (min-width: 991.98px) {
  main {
    padding-left: 240px;
  }
}

/* Sidebar */
.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  padding: 28px 0 0; /* Height of navbar */
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
  width: 240px;
  z-index: 600;
}

@media (max-width: 991.98px) {
  .sidebar {
    width: 100%;
  }
}
.sidebar .active {
  border-radius: 5px;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: 0.5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}
body {
  background-color: #E3F2FD;
}

.header {
  background: #1d37c7;
  color: #fff;
  font-size: 1.2rem;
  text-align: center;
  padding: 20px;
}

.heading{
  font-size:20px;
  font-weight:600;
  color:#07070a;

}

.line1{
  color:#000;
  font-size:12px;

}
 .line2{
  color:#000;
  font-size:12px;
  
}
 .line3{
  color:#000;
  font-size:12px;
  
}

.cards{

  transition: all 0.2s ease;
  cursor: pointer;
  

}
  
.cards:hover{

  box-shadow: 5px 6px 6px 2px #e9ecef;
  transform: scale(1.1);
}